.filebutton{
    cursor: pointer;
    margin: 10px;
}

.fileupload {
    width: 30%;
    height: 440px;
    background-color: #BEC5AD;
    color: #0e0405;
    padding: 5%;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    float: left;
}

.uploadbutton
{
    cursor: pointer;
    margin: 10px;
}

.text-danger {
    color: red;
    font-size: smaller;
 }
