 .filebutton{
    align-content: center;
}

.fileupload {
    width: 30%;
    height: 420px;
    background-color: rgb(90, 194, 212);
    color: #0e0405;
    padding: 2%;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    float: left;
    position: relative;
}
